body {
  margin: 0;
}

  button {
  background-color: black;
  color: white;
  position: absolute;
  line-height: 20px;
  text-align: center;
  width: 30%;
  left: 36%;
  }

h1 {
  text-align: center;
}
  
  
  p {
  font-family: 'Tangerine', serif;
  font-size: 30px;
  text-align: center;
  text-shadow: 1px 1px 1px #aaa;
}